html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:whitesmoke;
}
.logo{
    margin-right: auto;
    width: 60px;
    margin-left: 120px;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
li, a{
    font-size: 18px;
    font-weight: 600;
    color: #111;
    text-decoration: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 18px;
}
li a:hover{
    color: orangered;
}
.active{
    color: orangered;
}

/*Home section*/
.flexible{
    display: flex;
}
.home-div1{
   margin-top: 100px;
   margin-left: 120px;
}
.home-div1, .home-div2{
    width: 50%;
}
.home-div2 img{
    width: 90%;
}
.home-div1 h1{
    font-size: 60px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.664);
}
.extra-color{
    color: orange;
}
.home-div1 a, .about-div2 a{
    text-decoration: none;
    background-image: linear-gradient(orangered, orange);
    padding: 18px 35px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
}
.home-div1 p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding-bottom: 40px;
    line-height: 30px;
}

/*About section*/
.about{
    background-image: url("images/about-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}
.about img{
    width: 60%;
}
.about-div1,
.about-div2{
    width: 40%;
}
.about-div1{
    margin-left: 5%;
    padding-left: 5%;
    padding-top: 7%;
}
.about-div2{
    margin-right: 7%;
    padding-top: 10%;
}
.about-div2 h2,
.recipy-div1 h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.664);
}
.about-div2 p{
    font-size: 20px;
    font-weight: 500;
    color: grey;
    padding-bottom: 70px;
    line-height: 30px;
}
/*Recipies Section*/
.recipy{
    margin-top: 70px;
}
.recipy-div1{
    text-align: center;
}
.recipy-div1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.recipy-div2{
    display: flex;
    margin-top: 40px;
}
.food-cart-one, .food-cart-two, .food-cart-three{
    width: 21%;
    padding: 2%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 30px;
}
.food-cart-one{
    margin-left: 130px;
}
.food-cart-two{
    margin-left: 70px;
}
.food-cart-three{
    margin-left: 70px;
}
.food-cart-one img,
.food-cart-one p,
.food-cart-two img,
.food-cart-two p,
.food-cart-three img,
.food-cart-three p {
    width: 100%;
}
.food-cart-one h3, .food-cart-two h3, .food-cart-three h3{
    font-size: 25px;
    font-weight: 700;
}
.food-cart-one p,
.food-cart-two p,
.food-cart-three p {
   font-size: 20px;
   color: grey;
   line-height: 30px;
}
/*Contact section*/
.contact{
    display: flex;
    margin-top: 90px;
    background: whitesmoke;
}
.contact-map, .contact-details{
    width: 40%;
    padding: 5%;
}
.contact-map{
    margin-left: 70px;
}
.contact-details h2{
    font-size: 40px;
    font-weight: 600;
}
.contact-details h4{
    color: orangered;
    font-size: 20px;
}
.contact-details p{
    font-size: 16px;
    font-weight: 500;
}

/*Footer Section*/
footer{
    text-align: center;
    background: black;
    padding: 20px;
}
footer h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
.additional-color{
    color: orange;
}
footer p{
    color: white;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}
footer span{
    color: orangered;
}


